ul#product-list li#product-item {

    div.skeleton,
    h1.skeleton,
    h4.skeleton {
        animation: shine 1s linear infinite alternate;
        border-radius: 5px;
    }

    h1.skeleton,
    h4.skeleton {
        margin-top: 20px;
        height: 30px;
        width: 80%;
    }

    h4.skeleton {
        margin-top: -5px;
        height: 20px;
        width: 50%;
    }
}