$shade_1:#121212;
$shade_2:#939393;
$shade_3:#CCCCCC;
$shade_4:#EFEFEF;

#dashboard nav {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    

    header#filter-title {
        margin: 10px;
        border-bottom: $shade_4 1px solid;
        padding: 10px;
        height: 30px;
        display: flex;

        h2 {
            font-weight: 700;
            color: $shade_1;
            font-size: 14px;
            padding-top: 7px;
            padding-bottom: 7px;
            align-self: center;
            flex: 1;
            text-transform: uppercase;
        }
    }

    ul#filter-list {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        flex: 1;
        max-height: calc(100vh - 130px);
        overflow-y: auto;
        margin-right: 0;
    }

    @media (max-width:767px) {
   
        ul#filter-list {
            height: max-content;
            max-height: unset;
        }
    }
}