div.facet-content {
    opacity: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    flex: 1;

   

    button {
        display: flex;
        border-radius: 5pxx;
        justify-content: center;
        margin-top: 5px;

        span {
            padding: 10px;
            font-size: 0.8rem;
            align-self: center;
        }

    }
}

div#on.facet-content {
    margin: 5px;
    padding: 5px;
    opacity: 1;
    height: max-content;
    min-height: 120px;
}