$shade_1:#121212;
$shade_2:#939393;
$shade_3:#CCCCCC;
$shade_4:#EFEFEF;

#dashboard section#panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    position: relative;
    height: 100vh;

    div#bread-crumbs {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        transition: all 0.3s;
        animation: fade-in 0.3s;
        width: 100%;


        p#crumb-category {
            align-self: center;
            font-weight: 300;
            color: $shade_2;
            transition: all 0.3s;
            animation: fade-in 0.3s;
            margin-bottom: 10px;

        }

        p#crumb-category:first-of-type {
            margin-left: 0;
        }

        button#crumb-value {
            transition: all 0.3s;
            animation: fade-in 0.3s;
            display: flex;
            align-self: center;
            animation: fade-in 0.3s;
            transform: all 0.3s;
            margin-bottom: 10px;

            div {
                align-self: center;
                width: 15px;
                height: 15px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 50px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                transform: all 0.3s;
            }

            p#text {
                font-weight: 500;
                margin: 0;
                padding-left: 5px;
                padding-right: 5px;
                color: $shade_1;
                align-self: center;
                font-size: .9rem;
            }

            span {
                border-radius: 50px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 4px;
                padding-left: 8px;
                padding-right: 8px;
                font-size: .75rem;
                align-self: center;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
            }

        }


        button#crumb-value:hover {
            transform: scale(0.8);

            p#text {
                text-decoration: line-through;
            }

        }

        button#crumb-value:active {
            transform: scale(0.95);
        }



        p.slash {
            align-self: center;
            font-weight: 300;
            font-size: 1.5rem;
            margin: 0;
            margin-top: -8px;
            margin-left: 5px;
            margin-right: 5px;
            color: $shade_2;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    ul#product-list {
        padding: 0;
        margin: 0;
        display: grid;
        height: 100%;
        display: grid;
        gap: 10px;
        max-height: 100%;
        overflow-y: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;


        li#product-item {
            transition: all 0.3s;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin: auto;
            height: 95%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            min-height: 450px;
            border-radius: 10px;
            opacity: 0;
            animation: fade-in 0.3s forwards;

            div#image {
                position: relative;
                width: 100%;
                z-index: 1;
                filter: blur(0);
                display: flex;
                align-self: "center";
                max-height: 320px;


                img {
                    width: 100%;
                    object-fit: contain
                }

                img#logo {
                    margin-top: 15%;
                }

                .left {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 35%;
                    min-width: 80px;

                }

                .right {
                    width: 30%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    min-width: 68px;
                }

                h5 {
                    text-align: center;
                    color: #fff;
                    font-weight: 700;
                    margin-top: 2.5%;
                    font-size: .75rem;
                }
            }

            h1 {
                font-weight: 300;
                align-self: center;
                margin: 10px;
                text-align: center;
            }

            div#compare {
                margin: 10px;
                display: flex;
                align-self: center;

                h4 {
                    margin: 0;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                h4:first-of-type {
                    color: $shade_2;
                    text-decoration: line-through;
                }
            }

            h4 {
                margin: 10px;
                height: max-content;
                align-self: center;
            }

            div.skeleton,
            h1.skeleton,
            h4.skeleton {
                animation: shine 1s linear infinite alternate;
                border-radius: 5px;
            }

            h1.skeleton,
            h4.skeleton {
                margin-top: 20px;
                height: 30px;
                width: 80%;
            }

            h4.skeleton {
                margin-top: -5px;
                height: 20px;
                width: 50%;
            }
        }

        li#product-item:active {
            transform: scale(0.9);
        }

        @for $i from 1 through 30 {
            li#product-item:nth-child(#{$i}n) {
                animation-delay: #{($i * 30) + 200}ms;
            }
        }

     
    }

    @media (min-width:1280px) {
        ul#product-list {
            grid-template-columns: repeat(auto-fit, minmax(calc((100vw - 350px) / 5), 1fr));
        }
    }

    @media (max-width:1279px) {
        ul#product-list {
            grid-template-columns: repeat(auto-fit, minmax(calc((100vw - 350px) / 4), 1fr));
        }
    }

    @media (max-width:990px) {
        ul#product-list {
            grid-template-columns: repeat(auto-fit, minmax(calc((100vw - 350px) / 3), 1fr));
        }
    }

    @media (max-width:767px) {
        ul#product-list {
            height: max-content;
            max-height: unset;
            grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 4), 1fr));
        }
    }

    @media (max-width:499px) {
        ul#product-list {
            grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 3), 1fr));
        }
    }

    @media (max-width:400px) {
        ul#product-list {
            grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
            padding: 0;
            gap: 20px;

            li#product-item {
                transition: all 0.3s;
                width: 90%;
                height: 95%;
                min-height: 450px;
            }
        }
    }

}